@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3 d-flex justify-content-between flex-wrap">
    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1620706857370-e1b9770e8bb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHZlZ2V0YWJsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a>@Html.ActionLink("Order now", "Contact", "Home", null, new { @class = "btn btn-outline-primary" })</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1565958011703-44f9829ba187?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a>@Html.ActionLink("Order now", "Contact", "Home", null, new { @class = "btn btn-outline-primary" })</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a>@Html.ActionLink("Order now", "Contact", "Home", null, new { @class = "btn btn-outline-primary" })</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1552841847-0e031d33a283?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGZydWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a>@Html.ActionLink("Order now", "Contact", "Home", null, new { @class = "btn btn-outline-primary" })</a>
        </div>
    </div>
</div>
