@model VadtalDham.Model.ViewModel.UserPanel.OTPModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VadtalDham</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="~/logintheme/fonts/icomoon/style.css" rel="stylesheet" />
    <link href="~/logintheme/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/logintheme/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/logintheme/css/style.css" rel="stylesheet" />
    <script src="~/logintheme/js/jquery-3.3.1.min.js"></script>
    <style>
        .img {
            background-image: url('logintheme/images/bg_1.jpg');
        }

        .btn {
            background-color: #6b0000;
            color: white;
        }

            .btn:hover {
                color: white;
            }
    </style>
</head>
<body>
    <div class="d-lg-flex half">
        <div class="bg order-1 img"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <h3><strong>Check Your Email</strong></h3>
                        <p class="mb-4">We have a sent code to Your Email</p>
                        @using (Html.BeginForm("AddOTP", "Login", FormMethod.Post))
                        {
                            <div class="form-group ">
                                @Html.LabelFor(x => x.OTP)
                                @Html.TextBoxFor(x => x.OTP, new { @class = "form-control", placeholder="Enter OTP"})
                                @Html.ValidationMessageFor(x => x.OTP,"", new { @class = "text-danger"})
                            </div>
                            @if (TempData["Error"] != null)
                            {
                                <h5 class="text-danger">@TempData["Error"]</h5>
                            }
                            <div class="d-flex mb-5 align-items-center">
                                <span class="ml-auto"><a onClick="previous()" class="forgot-pass" asp-area="" asp-controller="Login" asp-action="ForgotPassword">Back</a></span>
                            </div>
                            <button type="submit" class="btn btn-block btn">Submit</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function previous() {
        window.history.go(-1);
    }
</script>
<script src="~/logintheme/js/popper.min.js"></script>
<script src="~/logintheme/js/bootstrap.min.js"></script>
<script src="~/logintheme/js/main.js"></script>
