@model StudentRegistration.Models.City
@{
    ViewBag.Title = "AddCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-center">
        <h1 class="text-center">Cites</h1>

    </div>
    <div>
        @using (Html.BeginForm("AddCity", "City", FormMethod.Post))
        {
            
        <div class="d-flex justify-content-between">

            @Html.DropDownListFor(x => x.State.CountryId, (IEnumerable<SelectListItem>)ViewBag.CountryName, " -- Select Country -- ", new { id = "Country", @class = "form-control mx-2" })


            @*@Html.DropDownListFor(x => x.StateId, new SelectList(""), new {@id="State"})*@
            @Html.DropDownListFor(x => x.StateId, (IEnumerable<SelectListItem>)ViewBag.StateName, " -- Select State -- ", new { id = "State", @class = "form-control mx-2" })
            @*<select class="form-select form-control" aria-label="Default select example" name="StateId" id="State">
            </select>*@

            @Html.HiddenFor(x => x.CityId, new { @class = "form-control " })
            @Html.TextBoxFor(x => x.CityName, new { @class = "form-control mx-2" })

        </div>
            <div class="d-flex justify-content-center p-3">
                <button type="submit" class="btn btn-primary px-5">Save</button>
            </div>
        }
    </div>
</div>

<script>
    $("#Country").off().change(function () {
        $("#State").html("");
        var id = $("#Country").val();
        $("#State").html("<option value='-1'> -- Select Country -- </option>");
        $.ajax({
            url: `/City/GetStates/${id}`,
            method: 'GET',
            success: function (res) {
                var data = JSON.parse(res);
                data.forEach(ele => {
                    console.log(ele);
                    $('#State').append(`<option value=${ele.StateId}>${ele.StateName}</option>`);
                });
            }
        });


    });

</script>