@{ 
    Layout = null;
}
<!doctype html>
<!--[if lte IE 9]>
<html lang="en" class="oldie">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Retro Error Page</title>
    <link href="~/Content/Error/Error505/style.css" rel="stylesheet" />
</head>
<body>
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
        <h1>Error <span class="errorcode">404</span></h1>
        <p class="output">OPPS! Something Went Wrong</p>
        <p class="output">Please try to <a href="javascript:goback()">go back</a> or <a href="/Home/ShowStudentData">return to the homepage</a>.</p>
        <p class="output">Good luck.</p>
    </div>
    <script>
        function goback() {
            window.history.go(-1)
        }
    </script>
</body>
</html>