.app {
    background-color: #fff;
    border: 2px solid #abcea1;
    border-radius: 8px;
    padding: 15px;
}

#addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(171, 206, 161, 0.35);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#plus {
    padding: 3px;
    border-radius: 3px;
    font-size: 25px;
    color: #0d6efd;
}

#delete {
    border-radius: 3px;
    font-size: 25px;
    color: red;
}

#edit {
    border-radius: 3px;
    font-size: 25px;
    color: green;
}

#msg {
    color: red;
}

#msgid {
    color: red;
}

th,
td {
    width: 33.3%;
}

@media screen and (max-width : 991px) {
    .th {
        display: none;
    }

    td {
        display: block;
        width: 100%;
    }
}