<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px);">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Sign In</h2>
                        <form id="myForm" name="myForm">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="form-outline mb-4">
                                <input type="text" id="name" class="form-control" placeholder="UserName" name="nametxt" />
                                <font color='red'><div id="nameValidate"></div></font>
                            </div>
                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="password" class="form-control" placeholder="Password" name="passwordtxt" />
                                <font color='red'><div id="PasswordValidate"></div></font>
                            </div>
                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" />
                                <label class="form-check-label" for="form2Example33">
                                    Subscribe to our newsletter
                                </label>
                            </div>
                            <!-- Submit button -->
                            <button class="btn btn-outline-primary btn-block mb-4">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4" alt="Image" />
            </div>
        </div>
    </div>
</section>