@model List<StudentRegistration.Models.v_Show_School_Country>
@{
    ViewBag.Title = "ShowCountry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="p-4">
        <h1 class="text-center">Show Country Data</h1>
    </div>
</div>
<div class="p-3">
    <div class="table-responsive">
        <table id="DataTable">
            <thead>
                <tr>
                    <th> Country Id </th>
                    <th> Country Name </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var data in Model)
                    {
                                <tr>
                                    <td>@data.CountryId</td>
                                    <td>@data.CountryName</td>
                                    <td><a href="/Country/EditCountryName/@data.CountryId" class="btn btn-outline-info">Edit</a><a href="/Country/DeleteCountry/@data.CountryId" class="btn btn-outline-danger">Delete</a></td>
                                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>




