
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SMS</title>
</head>
<body>
</body>
</html>
@if (TempData["Success"] != null)
{
    <script>
        Swal.fire({
            title: 'Login Successfull..',
            showClass: {
                popup: 'animate__animated animate__fadeInDown'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOutUp'
            },
            allowOutsideClick: false
        })
    </script>
}
