@model IEnumerable<CoreDemoApp.Model.ViewModel.Country.CountryData>
@{
    ViewData["Title"] = "CountryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-decoration-underline mt-2">Country List</h2>
<div class="container mt-3">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>CountryName</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CountryName</td>
                    <td>
                        <a href="/Country/AddEditCountry/@item.CountryId" class="btn btn-outline-success">Edit</a>&nbsp;&nbsp;
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete@(item.CountryId)">
                            Delete
                        </button>
                        <div class="modal fade" id="delete@(item.CountryId)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Are you sure want to delete record ?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                        <a href="/Country/DeleteCountry/@item.CountryId" type="button" class="btn btn-outline-primary delete">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (TempData["Delete"] != null)
{
    <script>
        Swal.fire({
            title: 'Country Deleted Successfully..',
            showClass: {
                popup: 'animate__animated animate__fadeInDown'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOutUp'
            }
        })
    </script>
}
@if (TempData["Error"] != null)
{
    <script>
        Swal.fire({
            title: 'Country is in Use..',
            showClass: {
                popup: 'animate__animated animate__fadeInDown'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOutUp'
            }
        })
    </script>
}
@if (TempData["Register"] != null)
{
    <script>
        Swal.fire({
            title: 'Country added Successfully..',
            showClass: {
                popup: 'animate__animated animate__fadeInDown'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOutUp'
            }
        })
    </script>
}
@if (TempData["Update"] != null)
{
    <script>
        Swal.fire({
            title: 'Country updated Successfully..',
            showClass: {
                popup: 'animate__animated animate__fadeInDown'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOutUp'
            }
        })
    </script>
}