@model StudentRegistration.Models.State
@{
    ViewBag.Title = "AddState";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-center">
        <h1 class="text-center">States</h1>
    </div>
    <div>
        @using (Html.BeginForm("AddState", "State", FormMethod.Post))
        {
            <div class="d-flex justify-content-between">
                @Html.DropDownListFor(x => x.CountryId, (IEnumerable<SelectListItem>)ViewBag.CountryName, " -- Select Country -- ", new { id = "Country", @class = "form-control mx-2" })
                @Html.HiddenFor(x => x.StateId, new { @class = "form-control " })
                @Html.TextBoxFor(x => x.StateName, new { @class = "form-control mx-2" })
            </div>
            <div class="d-flex justify-content-center p-3">
                <button type="submit" class="btn btn-primary px-5">Save</button>
            </div>
        }
    </div>
</div>
