@model List<StudentRegistration.Models.v_Show_School_State>

@{
    ViewBag.Title = "ShowState";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="p-4">
        <h1 class="text-center">Show State Data</h1>
    </div>
</div>
<div class="p-3">
    <div class="table-responsive">
        <table id="DataTable">
            <thead>
                <tr>
                    <th> State Id </th>
                    <th> State Name </th>
                    <th> Country Name </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var data in Model)
                    {
                        <tr>
                            <td>@data.StateId</td>
                            <td>@data.StateName</td>
                            <td>@data.CountryName</td>
                            <td><a href="/State/EditStateName/@data.StateId" class="btn btn-outline-info">Edit</a><a href="/State/DeleteState/@data.StateId" class="btn btn-outline-danger">Delete</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>