@model List<DataBasePractie.Models.Context.sp_get_state_Result>
@{
    ViewBag.Title = "AllState";
}

<h2>AllState</h2>

@if (TempData["State"] != null)
{
    <p class="text-danger">@TempData["State"]</p>
}
<table class="table table-responsive table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>StateId</th>
            <th>StateName</th>
            <th>CountryName</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count != 0 && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.StateId</td>
                    <td>@item.StateName</td>
                    <td>@item.CountryName</td>
                    <td><a href="/State/AddState/@item.StateId" class="btn btn-success">Edit</a>&nbsp;&nbsp;<a href="/State/DeleteState/@item.StateId" class="btn btn-danger">Delete</a>&nbsp;&nbsp;<a href="/State/StateDetails/@item.StateId" class="btn btn-primary">Details</a></td>
                </tr>
            }
        }
    </tbody>

</table>

